<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resualt</title>
</head>

<body>

    <div style="margin-top: 50px;margin-left: 30%;margin-right: 30%;
    padding: 40px;border: 1px solid black">

        <div>
            <h1>Submitted informations</h1>
            <hr>
            <h4>Name: <%= name %> </h4>
            <h4>Location: <%= location %> </h4>
            <h4>Favorite lanaguage: <%= language %> </h4>
            <h4>Comment: <%= comment %> </h4>
        </div>
    </div>

</body>

</html>